* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }

  body {
    background: linear-gradient(to bottom, #946656, #aaaaaa, #ff9b9b, #475c6c, #af7c74);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    transition: transform 0.3s;}

    .container:hover {
      transform: scale(1.05);
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }

    input {
      width: 80%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      text-align: center;
    } button {
        width: 50%;
        padding: 10px;
        background-color: #008CBA;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
      }
  
      button:hover {
        background-color: #005f75;
      }
      .swal2-confirm {
        width: 100px !important;
        height: 40px !important;
        font-size: 16px;
        border-radius: 8px;
        background-color: #007bff !important;
      }